.navbar {
  background: #2c4464;
  color: white;
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-pill {
  background: #cbd5e1;
  color: black;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.lead-badge {
  background: #facc15;
  color: black;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
}

.right-section a {
  color: white;
  text-decoration: none;
}

.right-section a:hover {
  text-decoration: underline;
}

.switch-link {
  font-weight: 600;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
